<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>

    <title>BookStore</title>
</head>
<body class="bg-light text-dark">
    <%- include('./partials/nav') %>
    <div class="container mt-5 mx-auto text-center" style="width:800px">
        <img src="<%=book.image %>" width="200px" height="250px" class="mb-2"/>
        
        <h3><%=book.title %></h3>
        <h6>Rs. <%=book.price %></h6>
        <h5><%=book.author %></h5>
        <h6><%=book.description %></h6>
        

    </div>
    
    
    <%- include('./partials/script.js') %>
    
</body>
</html>